html {
  font-size: 100%;
}

:root {
  //color
  --black: yellow;
  --yellow: yellow;
  --padding: 20px;
  --white: #fff;
  --letterSpacing: 1px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  letter-spacing: var(--letterSpacing);
  background-color: var(--black);
  padding: var(--padding);
}
